<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1403,763},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1533,762},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1139,905},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1078,1035},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1208,1035},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1180,1165},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1142,1295},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1269,905},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1338,1035},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1310,1165},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{752,773},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlackHole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1525,893},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1272,1295},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{876,1073},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Leaderboards.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1113,637},{130,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MusicIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1379,631},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MusicIconOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,130}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1245,631},{132,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OutlineCircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1078,1165},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlainSquare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{1218,631},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerSprite6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1645,630},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,120}</string>
                <key>spriteSourceSize</key>
                <string>{119,120}</string>
                <key>textureRect</key>
                <string>{{1394,1295},{119,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoundSquare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{875,1407},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SoundIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1511,630},{130,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SoundIconOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{876,1275},{130,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Spike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,128}</string>
                <key>spriteSourceSize</key>
                <string>{89,128}</string>
                <key>textureRect</key>
                <string>{{986,1409},{89,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{1468,1014},{118,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Thunderbolt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,120}</string>
                <key>spriteSourceSize</key>
                <string>{119,120}</string>
                <key>textureRect</key>
                <string>{{1440,1165},{119,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UISprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{832,1461},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UnitCircleBlackFinal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1587,1011},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VideoIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,401}</string>
                <key>spriteSourceSize</key>
                <string>{550,401}</string>
                <key>textureRect</key>
                <string>{{724,1},{550,401}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WhiteAlt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1587,1113},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achievementIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1010,1275},{130,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achievementIcon_android.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{741,1327},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,149}</string>
                <key>spriteSourceSize</key>
                <string>{55,151}</string>
                <key>textureRect</key>
                <string>{{1678,1},{53,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>corner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,223}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1218,404},{225,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>corners_medium.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,212}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{790,859},{212,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,18}</string>
                <key>spriteSourceSize</key>
                <string>{11,18}</string>
                <key>textureRect</key>
                <string>{{790,1073},{11,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>facebookcircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{752,637},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,304}</string>
                <key>spriteSourceSize</key>
                <string>{242,304}</string>
                <key>textureRect</key>
                <string>{{508,521},{242,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foot-shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,55}</string>
                <key>spriteSourceSize</key>
                <string>{89,55}</string>
                <key>textureRect</key>
                <string>{{741,1461},{89,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1643,892},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heartIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,257}</string>
                <key>spriteSourceSize</key>
                <string>{280,257}</string>
                <key>textureRect</key>
                <string>{{508,827},{280,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leaderboardIcon_android.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1139,771},{130,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,47}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{403,1028},{47,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>magnet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,120}</string>
                <key>spriteSourceSize</key>
                <string>{119,120}</string>
                <key>textureRect</key>
                <string>{{1515,1287},{119,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>megaJump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,120}</string>
                <key>spriteSourceSize</key>
                <string>{119,120}</string>
                <key>textureRect</key>
                <string>{{1403,893},{119,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>noads.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1636,1313},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noads_universal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1500,1417},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noodlecake_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1116,1425},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nothanks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,266}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{403,1086},{266,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,239}</string>
                <key>spriteSourceSize</key>
                <string>{205,241}</string>
                <key>textureRect</key>
                <string>{{671,1086},{203,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1028},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerSprite-outline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{1296,1417},{100,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerSprite-shadow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{1398,1417},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quitIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{1600,1409},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>radial_gradient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{505,505}</string>
                <key>spriteSourceSize</key>
                <string>{507,507}</string>
                <key>textureRect</key>
                <string>{{1,521},{505,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rateIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1271,763},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restartIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,400}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1276,1},{400,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restoreButton2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1636,1215},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roundedTriangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{403,1354},{162,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>roundedTriangle_allBlack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,167}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{572,1354},{162,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>settingsButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1206,1425},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallcorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,225}</string>
                <key>spriteSourceSize</key>
                <string>{225,225}</string>
                <key>textureRect</key>
                <string>{{1443,403},{225,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speechBubble_plain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,518}</string>
                <key>spriteSourceSize</key>
                <string>{721,518}</string>
                <key>textureRect</key>
                <string>{{1,1},{721,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spikedCenter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,231}</string>
                <key>spriteSourceSize</key>
                <string>{231,231}</string>
                <key>textureRect</key>
                <string>{{752,404},{231,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spikedCenterRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,231}</string>
                <key>spriteSourceSize</key>
                <string>{231,231}</string>
                <key>textureRect</key>
                <string>{{985,404},{231,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spikes3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,223}</string>
                <key>spriteSourceSize</key>
                <string>{222,225}</string>
                <key>textureRect</key>
                <string>{{888,637},{220,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tube.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,365}</string>
                <key>spriteSourceSize</key>
                <string>{75,365}</string>
                <key>textureRect</key>
                <string>{{1,1430},{75,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{1004,859},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vignette-full-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,45}</string>
                <key>spriteSourceSize</key>
                <string>{30,45}</string>
                <key>textureRect</key>
                <string>{{368,1430},{30,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1746,1517}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d6962ba9f12f7865331d0651a4fa912:5c41701921d00cbfff4bed1c8db4c96a:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
